/*для красивой прокрутки в навигации*/
html{
  scroll-behavior: smooth;
}

.header{
  display: flex; /*чтобы все красиво по горизонтали*/
  align-items: center; /*чтобы все красиво выровнять*/
  padding: 92px 24px 96px; /*отступы от краев header до страницы*/
  font-weight: 400;
  font-size: 18px;
}

.header__menu{
  padding:44px 36px 39px 26.52px; /*отступы от краев header до блока с меню*/
}

.header__links-list{
  display: flex;
  gap: 32.5px; /*замерял опытным путем через perfectpixel*/
  letter-spacing: 0.45px; /*в макете буквы в текстах шире чем есть, в фигме letter-spacing стоит 1%, но он не работает, поэтому приблизительно в px */
  list-style:circle;
}

.header__links-list-item_no-bullit{
  letter-spacing: 0; /*тут буквы стандартной ширины, в макете как раз стоит 0*/
  list-style:none; /*убираем значок у главной*/
}

.header__link_active{
  text-decoration: none; /*убрал нижнее подчеркивание*/
}

.header__logo{
  margin:0 184px 0 0; /*сделал отступ между лого и адресами*/
}

.header__logo-anchor{
  display: block; /*советовали в подсказках, сейчас когда пишу коменты(поздно ночью) не могу точно вспомнить для чего это. короче требует доп. обьяснения*/
  width: 148px;
  height: 105px; /*задал конкретные размеры для картинки как в макете, не уверен что так надо*/
}

.address{
  font-style: normal;
  line-height:135%;
  white-space: nowrap; /*чтобы не переносились телефоны и адреса*/
}
.cover{
  height: 757px;
}
.overlay{
  position: relative; /*делаем оверлей позиционированным чтобы потом на его размер растянуть картинку*/
  width: 100%;
  height: 100%;
  color:#fff;
  background-color: rgb(0 0 0 / 0.6); /*затемнение фона*/
  height: 100%;
}

.overlay_background-image{
  position: absolute; /*растягиваем картинку*/
  z-index: -2;

}

.cover__title{
  padding: 165px 50px 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
}

.letter-spacing{
  letter-spacing: 0.3em;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.aligned-text{
  display: block;
  margin-bottom: 20px;
}

.aligned-text-left{
  line-height:115%;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.aligned-text-no-bottom-margin{
  margin-bottom: 0;
}

.cover__description{
  display: flex;
  gap:79px;
  padding: 0 50px 32px 78px;
}

.cover__description-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.space{
  letter-spacing: 0.8em;
}

.letter{
  letter-spacing: 1.1em;
}

.bet-button{
  width:256px;
  height:51px;
  border: 1px solid #ffffff;
  padding: 0px  32px 0px 31px;
  color:#fff;
  font-weight:500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots{
  padding: 179px 24px 181px;

}

.lots__heading{
  padding: 0 0 27px 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  gap:25px;
  list-style: none;
}

.card{
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 563px;
  justify-content: space-between;
  line-height: 120%;
}
.card-link{
  text-decoration: none;
}

.card__title{
  padding: 51px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text{
  z-index: 0;
  padding: 0 40px 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.lots__look-more-link{
  display: block;
  margin: 30px 0px 0px 40px;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
}

.about__column{
  display: grid;
  padding: 0 24px 180px;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 240px 355px;
  grid-template-areas:
  "about__logo about__title"
  ". about__text-container";
}
.about__logo{
  grid-area:about__logo;
  background-color: #000000;
  border-radius:100%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;        
  justify-content: center;     
  margin: auto;
}
.about__logo-image{
  width: 148px;
  height: 114px;
}
.about__title{
  grid-area:about__title;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 25px;
}
.about__text-container{
  grid-area:about__text-container;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 25px;
}
.about__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
/*!!!!написать комменты!!!!*/