/*для красивой прокрутки в навигации*/
html{
  scroll-behavior: smooth;
}

.header{
  display: flex; /*чтобы все красиво по горизонтали*/
  align-items: center; /*чтобы все красиво выровнять*/
  padding: 92px 24px 96px; /*отступы от краев header до страницы*/
  font-weight: 400;
  font-size: 18px;
}

.header__menu{
  padding:44px 36px 39px 26.52px; /*отступы от краев header до блока с меню*/
}

.header__links-list{
  display: flex;
  gap: 32.5px; /*замерял опытным путем через perfectpixel*/
  letter-spacing: 0.45px; /*в макете буквы в текстах шире чем есть, в фигме letter-spacing стоит 1%, но он не работает, поэтому приблизительно в px */
  list-style:circle;
}

.header__links-list-item_no-bullit{
  letter-spacing: 0; /*тут буквы стандартной ширины, в макете как раз стоит 0*/
  list-style:none; /*убираем значок у главной*/
}

.header__link{
  text-decoration: none; /*убрал нижнее подчеркивание*/
  border-bottom: 1px solid #000;
}

.link{
  text-decoration: none; /*убрал нижнее подчеркивание*/
  border-bottom: 1px solid #000;
}

.header__link_active{
  border-bottom: none
}

.header__logo{
  margin:0 184px 0 0; /*сделал отступ между лого и адресами*/
}

.header__logo-anchor{
  display: block; /*советовали в подсказках, сейчас когда пишу коменты(поздно ночью) не могу точно вспомнить для чего это. короче требует доп. обьяснения*/
  width: 148px;
  height: 105px; /*задал конкретные размеры для картинки как в макете, не уверен что так надо*/
}

.address{
  font-style: normal;
  line-height:24px;
  white-space: nowrap; /*чтобы не переносились телефоны и адреса*/
  font-size: 18px;
  letter-spacing: 0.01em;
}
.cover{
  height: 757px;
}
.overlay{
  position: relative; /*делаем оверлей позиционированным чтобы потом на его размер растянуть картинку*/
  width: 100%;
  height: 100%;
  height: 100%;
  color:#fff;
  background-color: rgb(0 0 0 / 0.6); /*затемнение фона*/
}

.overlay_background-image{
  position: absolute; /*растягиваем картинку*/
  z-index: -2;

}

.cover__title{
  padding: 165px 50px 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
}

.letter-spacing{
  letter-spacing: 0.3em;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.aligned-text{
  display: block;
  margin-bottom: 20px;
}

.aligned-text-left{
  line-height:115%;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.aligned-text-no-bottom-margin{
  margin-bottom: 0;
}

.cover__description{
  display: flex;
  justify-content: space-between; /*убери гап, у тебя из за этого съехала кнопка по макету*/
  padding: 0 50px 32px 78px;
  align-items: center; /*текст находится выше чем надо, align-items поможет выровнять*/
}

.cover__description-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.space{
  letter-spacing: 0.8em;
}

.letter{
  letter-spacing: 1.1em;
}

.bet-button{
  width:256px;
  height:51px;
  border: 1px solid #ffffff;
  padding: 0px  32px 0px 31px;
  color:#fff;
  font-weight:500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots{
  padding: 180px 24px; /*достаточно просто 180, тк сверху 179 а снизу 181, можно обойтись 180*/
}

.lots__heading{
  padding: 0 0 27px 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  gap:25px;
  list-style: none;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  line-height: 120%;
}
.card-link{
  text-decoration: none;
}

.card__title{
  padding: 51px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text{
  z-index: 0;
  padding: 0 40px 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.lots__look-more-link{
  display: block;
  margin: 30px 0px 0px 40px;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
}

.about__column{
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 240px 312px; /*если и хочешь задать явно, то правильно значение 312px, а вообще привыкай к следующим проектам задавать все через относительные единицы измерения*/
  grid-template-areas:
  "about__logo about__title"
  ". about__text-container";
  padding: 0 24px 180px;
  gap: 8px 24px;
}
.about__logo{
  display: flex;
  grid-area:about__logo;        
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;     
  margin: auto;
  border-radius:100%;
  background-color: #000000;
}
.about__logo-image{
  width: 148px;
  height: 114px;
}
.about__title{
  grid-area:about__title;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: auto 0;
}
.about__text-container{
  display: flex;
  flex-direction: column;
  grid-area:about__text-container;
}
.about__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: .01em; /*забыл добавить*/
}
.about__text:first-child{
  margin-bottom: 24px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 50px 88px;
}
.footer__link{
  margin-bottom: 4px;
  display: inline-block;
}

.footer__links-list{
  display: flex;
  flex-direction: column;
  letter-spacing: 0.45px; /*в макете буквы в текстах шире чем есть, в фигме letter-spacing стоит 1%, но он не работает, поэтому приблизительно в px */
}
.footer__menu-list{
  text-align: center;
  font-size: 18px; /*забыл про шрифт*/
  line-height: 100%;
}

.footer__link_active{
  text-decoration: none;
}
.footer__social-list{
  display: flex;
  gap:48px;
  flex-wrap: nowrap;
}
.footer__social-icon{
  width:48px;
  height:48px;
}
